/* Grays */

$dark-gray: #505050;
$medium-gray:#8a8a8a;
$light-gray:#bfbfbf;

/* Blues */

$light-blue:#1789fc;
$light-blue-300: #cad9ff;

/* Pinks */

$pink: #ff2d55;
$light-pink: #f17d93;

/* Oranges */

$orange:#ef7a49;

/* Reds */
$red:#ef6461;

/* Greens */
$green:#83b692;

/* Yellows */
$yellow:#ffd230;

/* Purples */
$purple: #beb8eb;